*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: white;
}

Body{
  font-size: 12px;
  font-family: Sans-Serif;
  background-image: url('bg.jpeg');
  max-width: 100vw;
  background-size: cover;
  background-position: center;
}

.btn{
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 30px;
  border: 2px solid rgb(0,7,201);
  color: rgb(0,7,201);
  background-color: transparent;
  margin-top: 20px;
  font-size: 1rem;
  letter-spacing: .1rem;
  transition: .3s ease;
  border-radius: 4px;
}

.btn:hover{
  color: white;
  background-color: rgb(0,7,201);
}

.container{
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#Home{
  background-image: url('HomeBg.jpeg');
  background-size: cover;
  background-position: top center;
  position: relative;
  z-index: 1;
}

#Home::after{
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgb(136,15,219);
  opacity: .2;
  z-index: -1;
}

#Home .Home{
  max-width: 1200px;
  margin: 0 auto;
  padding: 54px;
  justify-content: flex-start;
}

.Home h1{
  width: fit-content;
  display: block;
  font-size: 2.5rem;
  color: transparent;
  position: relative;
  animation: text_reveal .5s ease forwards;
  animation-delay: 1s;
}

#Home h1:nth-child(1){
  animation-delay: 1s;
}
#Home h1:nth-child(2){
  animation-delay: 2s;
}
#Home h1:nth-child(3){
  animation: text_reveal_color .5 ease forwards;
  animation-delay: 3s;
}

.Home h1 span{
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(41,75,219);
  animation: reveal 1s ease;
  animation-delay: .5s;
}

#Home h1:nth-child(1) span{
  animation-delay: .5s;
}
#Home h1:nth-child(2) span{
  animation-delay: 1.5s;
}
#Home h1:nth-child(3) span{
  animation-delay: 2.5s;
}

@keyframes reveal{
  
  50%{
    width: 100%;
    left: 0%;
  }
  
  100%{
    left: 100%;
    width: 0%;
  }
  
}

@keyframes text_reveal{
  100%{
    color: white;
  }
}

@keyframes text_reveal_color{
  100%{
  color: rgb(0,7,201);
  font-weight: bold;
  }
}
